.top{
    background-image: url("https://cdn.pixabay.com/photo/2016/06/01/06/26/open-book-1428428_960_720.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 740px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  
}
.card3 {
    margin-top: 120px; 
    background: linear-gradient(to left,black,darkblue);
     opacity: 0.8;
     border-radius: 20px;
}